.left {
    margin: 0;
    padding: 0;
    min-width: 75px;
    max-width: 85px;
    position: relative;
}

.main .header {
    border-bottom: 1px solid #ccc;
}
.main .header .title {
    text-align: left;
}
.main .header .title p {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.main .nav-item a {
    text-align: left;
    color: #9f231c;
}

.main .nav-item .nav-link {
    padding-left: 10px;
    margin-bottom: 15px;
}
.main .nav-item .active {
    text-align: left;
    color: #000000;
    border-left: 8px solid #000000;
}